<h1>This is a Food order page</h1>
<h3>Category</h3>
<%@categories.each do|c|%>
<ol>

    <li>
        <%=link_to category_products_path(c) do%>
        <%=c.title%>
        <%="(#{c.products.count})"%>
        <%end%>
    </li>
    
</ol>
<%end%>